@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 1000px;
  @apply bg-netcompany-lightblue dark:bg-netcompany-lightblue-dark
}

.btn-submit,
nav {
  @apply bg-netcompany-darkblue dark:bg-netcompany-darkblue-dark
}

.karieraLogoText {
  @apply fill-netcompany-darkblue-dark dark:fill-netcompany-darkblue-light
}

h1, h2, h3 ,h4,
label {
  @apply text-netcompany-gray-light dark:text-netcompany-gray-dark
}

.book-entry {
  @apply bg-netcompany-white-light dark:bg-netcompany-white-dark
}

.netcompany-accent {
  @apply bg-netcompany-accent dark:bg-netcompany-accent-dark
}

.netcompany-accent-border {
  @apply border-netcompany-lightgray dark:border-netcompany-lightgray-dark
}

.btn-red {
  @apply bg-netcompany-blue text-netcompany-white hover:outline-netcompany-blue active:outline-netcompany-blue active:bg-netcompany-white active:text-netcompany-blue
}

#searchBox {
  @apply bg-netcompany-white-light dark:bg-netcompany-white-dark
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

/* Make buttons scale slightly on hover, turn of animations in case user uses motion-reduce */
.btn-animate {
  @apply hover:scale-105 active:scale-95 transition-all motion-reduce:transition-none motion-reduce:hover:transform-none
}

/* Construct fade animation from tailwind css classes */
.fade-transition {
  @apply transition-opacity ease-in duration-700
}

/* Kariera.gr Brand Colors */
.bg-secondary-brand-color {
  @apply bg-netcompany-blue
}
.grey-violet-brand-color {
  color: #B4B2BF;
}
