@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 1000px;
  @apply bg-kariera-lightblue dark:bg-kariera-lightblue-dark
}

.btn-submit,
nav {
  @apply bg-kariera-darkblue dark:bg-kariera-darkblue-dark
}

.karieraLogoText {
  @apply fill-kariera-darkblue-dark dark:fill-kariera-darkblue-light
}

h1, h2, h3 ,h4,
label {
  @apply text-kariera-gray-light dark:text-kariera-gray-dark
}

.job-post {
  @apply bg-kariera-white-light dark:bg-kariera-white-dark
}

.kariera-accent {
  @apply bg-kariera-accent dark:bg-kariera-accent-dark
}

.kariera-accent-border {
  @apply border-kariera-lightgray dark:border-kariera-lightgray-dark
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

/* Make buttons scale slightly on hover, turn of animations in case user uses motion-reduce */
.btn-animate {
  @apply hover:scale-105 active:scale-95 transition-all motion-reduce:transition-none motion-reduce:hover:transform-none
}

/* Construct fade animation from tailwind css classes */
.fade-transition {
  @apply transition-opacity ease-in duration-700
}

/* Kariera.gr Brand Colors */
.bg-secondary-brand-color {
  background-color: #FF2458;
}
.grey-violet-brand-color {
  color: #B4B2BF;
}
