@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 1000px;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Make buttons scale slightly on hover, turn of animations in case user uses motion-reduce */
.btn-animate {
  @apply hover:scale-105 active:scale-95 transition-all motion-reduce:transition-none motion-reduce:hover:transform-none
}

/* Construct fade animation from tailwind css classes */
.fade {
  @apply transition-opacity ease-in duration-700
}

/* Kariera.gr Brand Colors */
.bg-secondary-brand-color {
  background-color: #FF2458;
}
.grey-violet-brand-color {
  color: #B4B2BF;
}
